.cvDatePickerCallout {
  .ms-Callout-main {
    .calendarProps {
      .ms-DatePicker-picker {
        .ms-DatePicker-holder {
          .ms-DatePicker-frame {
            .ms-DatePicker-wrap {
              .ms-DatePicker-dayPicker {
                .ms-DatePicker-header {
                  .ms-DatePicker-monthComponents {
                    .ms-DatePicker-navContainer {
                      button:hover {
                        background-color: #D0D0D0 !important;
                        color: #000 !important;
                        font-weight: 600;
                      }
                    }
                  }
                }

                .ms-FocusZone {
                  table {
                    tr {
                      th {
                        background-color: #f6f5f4 !important;
                        color: #616161 !important;
                      }

                      td:hover {
                        background-color: #D0D0D0 !important;
                        color: #000 !important;
                        font-weight: 600;
                      }
                    }
                  }
                }
              }

              .ms-DatePicker-monthPicker {
                .ms-DatePicker-header {
                  .ms-DatePicker-yearComponents {
                    .ms-DatePicker-navContainer {
                      button:hover {
                        background-color: #D0D0D0 !important;
                        color: #000 !important;
                        font-weight: 600;
                      }
                    }
                  }
                }

                .ms-FocusZone {
                  .ms-DatePicker-monthOption:hover {
                    background-color: #D0D0D0 !important;
                    color: #000 !important;
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.cvEventTypeDropdown {
  .ms-Callout-main {
    .ms-FocusZone {
      button:hover {
        background-color: #E8E8E8 !important;
        color: #000;
      }
    }
  }
}


.Championview {
  .main {
    width: 100%;
    height: 100%;

    .events-table {
      max-height: 400px;
      width: auto;

      .react-bootstrap-table {
        max-height: 360px;
        overflow-y: overlay;
        margin-bottom: 20px;
        border: 1px solid #dee2e6;

        table {
          margin-bottom: 0px;
          border-collapse: separate;
          border-spacing: 0;
          border: none;

          .event-table-header {
            position: sticky;
            top: 0px;
          }
        }
      }
    }

    .loader {
      border: 16px solid #dde2eb;
      border-radius: 50%;
      border-top: 10px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite;
      /* Safari */
      animation: spin 2s linear infinite;
      margin: auto;
      top: 25%;
      transform: translate(-50%, -50%);
      position: relative;
      z-index: 1;
    }

    /* Safari */
    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }

      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }

  .eventsCards {
    border: 0 !important;
    border-radius: 0 !important;
    margin-bottom: 10px;
  }

  .cv {
    color: #163655;
    text-align: center;
    font-size: 20px;
    padding: 1rem 0;
    font-weight: bold;
  }

  .cvW {
    width: 100%;
  }

  .form-fields {
    width: auto;
    height: auto;
    border-radius: 6px;
    color: #000;
    font: normal normal normal 18px/24px Segoe UI;

    .form-data {
      .form-group {
        background-color: #F6F5F4;
        padding: 10px;

        .cv-date-control {
          margin: 0 0 15px 0;
          max-width: 300px;

          label {
            white-space: nowrap;
          }
        }

        .cv-margin-auto {
          margin: auto;

          label {
            color: #000;
          }
        }

        .cv-notes-margin-top {
          margin-top: 30px;
        }

        .cv-add-event-margin-top {
          margin-top: 70px;
        }

        .cv-margin-top-auto {
          margin-top: auto;
        }

        @media screen and (max-width: 908px) {
          .cv-margin-top-auto {
            margin-top: 20px;
            margin-left: -10px;
          }
        }

        .cv-padding-right {
          padding: 0 10px 0 0 !important;
        }
      }
    }
  }

  .cb {
    background-color: #fff;

    .float-end {
      float: right;
      margin: 1rem 0;

      .ms-Button-flexContainer {
        height: auto !important;
      }
    }

    .AddEventIcon {
      font-size: 24px;
      color: #6264A7;
      cursor: pointer;
    }

    .row-margin {
      margin-top: 1.5rem !important;
    }

    .cv-events-text-align {
      overflow-wrap: anywhere;
      width: 180px;
    }

    .tick {
      position: relative;
      left: 10px;
      bottom: 4px;
    }

    .tickImage {
      width: 25px;
      height: 25px;
    }

    .eventDetails {
      margin-right: 10%;
    }

    .deleteEvent {
      font-size: 24px;
      color: #979593;
      cursor: pointer;
      float: right;
      line-height: 22px;
    }

    .helpText {
      font: normal normal normal 16px/21px Segoe UI;
      color: #727170;
      padding-left: 8px;
    }

    .btnSubmit {
      background-color: #6264a7;
      color: #fff;
    }

    .errorMessage {
      color: #e12636;
      font: normal normal normal 18px/24px Segoe UI !important;
      letter-spacing: 0px;
      opacity: 1;
    }

    .pendingEventsMessage {
      text-align: left;
      font: normal normal normal 18px/24px Segoe UI !important;
      letter-spacing: 0px;
      opacity: 1;
      color: #000000;

      .tickImage {
        width: 28px;
        height: 28px;
        margin-right: 10px;
        margin-bottom: 7px;
      }
    }

    .MuiDataGrid-root {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .MuiDataGrid-root .MuiDataGrid-columnsContainer {
      background-color: #F6F5F4;
      color: #000;
      font: normal normal 600 18px/24px Segoe UI;
    }
  }

  .cursor {
    cursor: pointer;
    background-color: #BDBDE6;
    color: #000;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  @media screen and (max-width: 767px) {
    .form-fields {
      .form-data {
        .form-group {
          .cv-date-control {
            max-width: unset !important;
          }

          .cv-margin-top-auto {
            margin-top: 20px;
            margin-left: -10px;
          }
        }
      }
    }

    .cb {
      .record-events-grid {
        font-size: 14px;
      }

      .tick {
        left: 0 !important;
      }

      .deleteEvent {
        font-size: 20px !important;
      }
    }
  }

  @media screen and (max-width: 375pt) {
    .main {
      .events-table {
        max-height: 450px;

        .react-bootstrap-table {
          table {
            table-layout: auto;
          }
        }
      }
    }

    .form-fields {
      .form-data {
        .form-group {
          .cv-date-control {
            max-width: unset !important;
          }

          .cv-padding-right {
            padding: 15px 10px 0 0 !important;
          }

          .cv-margin-top-auto {
            margin-top: 20px;
            margin-left: -10px;
          }
        }
      }
    }

    .cb {
      .record-events-grid {
        font-size: 14px;
      }

      .tick {
        left: 0 !important;
      }

      .deleteEvent {
        font-size: 20px !important;
      }
    }

  }
}