.ClbAddMember {
    .members {
        height: 24px;
        width: 80px;
        color: #000;
        font-family: "Segoe UI";
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
    }
    .heading {
        margin-top: 30px;
    }
    .addInput {
        margin-top: 5px;
    }
}
