:global {
  .ms-Suggestions-none {
    color: #757575;
  }

  .ms-Suggestions-item {
    .ms-Suggestions-itemButton:hover {
      background: rgb(209, 209, 209);

      .ms-Persona-primaryText,
      .ms-Persona-secondaryText {
        color: #000;
      }
    }
  }

  .addMemberDropdownCallout {
    .ms-Dropdown-item {
      background-color: #F6F5F4;
      border: 0.25px solid #979593;
      padding: 0%;
      text-align: left;
      font: normal normal normal 16px/21px Segoe UI;
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;

      .ms-Dropdown-optionText {
        padding-left: 26px;
        padding-top: 5px;
      }
    }

    .ms-Dropdown-item:hover {
      border: 1px solid #1e90ff;
      color: #000000;
      background-color: #f6f5f4 !important;
    }
  }
}


.addMembersPath {
  display: inline-flex;
  margin-top: 36px;
  margin-bottom: 26px;
  text-align: center;
  font: normal normal bold 14px/24px Segoe UI;
  letter-spacing: 0px;
  color: #33344A;
  opacity: 1;

  .backImg {
    width: 7px;
    height: 12px;
    margin-right: 10px;
    margin-top: 6px;
  }

  .backLabel {
    padding-right: 10px;
    cursor: pointer;
  }

  .border {
    width: 0px;
    height: 14px;
    border: 1px solid #33344A;
    margin-top: 5px;
  }

  .addMemberLabel {
    padding-left: 10px;
  }
}

.updatedMessage {
  text-align: left;
  font: normal normal normal 18px/24px Segoe UI !important;
  letter-spacing: 0px;
  opacity: 1;
  color: #000000;

  .tickImage {
    width: 28px;
    height: 28px;
    margin-right: 10px;
    margin-bottom: 7px;
  }
}

.errorMessage {
  color: #e12636;
  text-align: left;
  font: normal normal normal 18px/24px Segoe UI !important;
  letter-spacing: 0px;
  opacity: 1;
}

.pickerLabel {
  text-align: left;
  font: normal normal bold 18px/24px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 10px;

  .asterisk {
    color: #a4262c;
  }
}

.addMemberPeoplePickerClass {
  div[class^="ms-BasePicker-text"] {
    border-color: rgb(138, 138, 138) !important;

    div[class^="ms-PickerPersona-container"] {
      background-color: rgb(245, 245, 245);

      div[class^="ms-Persona-primaryText"] {
        color: rgb(97, 97, 97);
      }

      button {
        color: rgb(97, 97, 97) !important;
      }

      button:hover {
        color: rgb(66, 66, 66) !important;
        background: rgb(209, 209, 209) !important;
      }
    }
  }

  input {
    color: #000000;
  }
}

.addMemberDropdown {
  div[class^="ms-Dropdown"] {
    width: auto;
    margin: 1rem 0rem 1rem 0rem;

    span[class^="ms-Dropdown-title"] {
      padding-left: 26px;
      padding-top: 3px;
      font: normal normal 400 18px/24px Segoe UI;
      text-align: left;
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
      border-color: #DEDEF3;
      background-color: #DEDEF3;
    }

    span[class^="ms-Dropdown-caretDownWrapper"] {
      i {
        color: rgb(138, 138, 138);
      }
    }

    span[class^="ms-Dropdown-caretDownWrapper"]:hover {
      i {
        color: #000 !important;
      }
    }
  }
}

.btnArea {
  float: right;
  margin-top: 1rem;


  .cancelBtn {
    display: inline-flex;
    width: 138px;
    height: 38px;
    border-color: #33344A;
    background-color: white;
    border-radius: 2px;
    margin-right: 37px;
    padding-left: 30px;

    .cancelBtnLabel {
      text-align: center;
      font: normal normal bold 14px/24px Segoe UI;
      letter-spacing: 0px;
      color: #000003;
      opacity: 1;
    }

    .cancelBtnIcon {
      margin-right: 10px;
      font-size: 17px;
      font-weight: bolder;
      color: #000003;
      opacity: 1;
    }

  }

  .saveBtn {
    display: inline-flex;
    width: 138px;
    height: 38px;
    background: #464775;
    border-color: #464775;
    border-radius: 2px;
    padding-left: 35px;

    .saveBtnLabel {
      opacity: 1;
      text-align: center;
      font: normal normal bold 14px/24px Segoe UI;
      letter-spacing: 0px;
      color: #FFFFFF;
    }

    .saveBtnIcon {
      margin-right: 10px;
      font-size: 17px;
      font-weight: bolder;
      color: #FFFFFF;
      opacity: 1;
    }
  }
}

.load {
  border: 16px solid #dde2eb;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}