@import '~@fluentui/react/dist/sass/References.scss';

.championListContainer {
  padding-bottom: 5em;

  .championListPath {
    display: inline-flex;
    margin-top: 36px;
    margin-bottom: 26px;
    text-align: center;
    font: normal normal bold 14px/24px Segoe UI;
    letter-spacing: 0px;
    color: #33344A;
    opacity: 1;

    .backImg {
      width: 7px;
      height: 12px;
      margin-right: 10px;
      margin-top: 6px;
    }

    .backLabel {
      padding-right: 10px;
      cursor: pointer;
    }

    .backLabel:focus-visible {
      box-shadow: none;
      outline: 2px solid #414156 !important;
      border-radius: 1px;
      outline-offset: 4px;
    }

    .border {
      width: 0px;
      height: 14px;
      border: 1px solid #33344A;
      margin-top: 5px;
    }

    .championListLabel {
      padding-left: 10px;
    }
  }

  .championListPathDarkContrast {
    color: var(--colorNeutralForeground1);

    .backImg {
      filter: brightness(0) saturate(100%) invert(86%) sepia(100%) saturate(3%) hue-rotate(190deg) brightness(109%) contrast(97%);
    }

    .backLabel {
      color: var(--colorBrandForegroundLink);
    }

    .backLabel:focus-visible {
      outline-color: var(--colorPaletteBlueBorderActive);
    }

    .border {
      border-color: var(--colorNeutralForeground1);
    }
  }

  .successMessage {
    text-align: left;
    font: normal normal normal 18px/24px Segoe UI !important;
    letter-spacing: 0px;
    opacity: 1;
    color: #000000;

    .tickImage {
      width: 28px;
      height: 28px;
      margin-right: 10px;
      margin-bottom: 7px;
    }
  }

  .successMessageDarkContrast {
    color: var(--colorPaletteGreenForeground1);
  }


  .listHeading {
    text-align: left;
    font: normal normal bold 18px/24px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-bottom: 26px;
  }

  .listHeadingDarkContrast {
    color: var(--colorNeutralForeground1);
  }

  .championListTableArea {
    table {
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
      table-layout: fixed;

      thead.listHeader {
        background-color: #DEDEF3;
        text-align: left;
        font: normal normal bold 18px/24px Segoe UI;
      }

      tbody.listBody {
        background-color: #F6F5F4;
        text-align: left;
        font: normal normal normal 18px/24px Segoe UI;
      }

      th,
      td {
        border: 0.25px solid #979593;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  mgt-person[class="champion-person-card"] {
    --person-line1-text-color: var(--colorNeutralForeground1) !important;
    --person-line1-text-line-height: 24px;
    --person-line1-font-weight: 400;
  }

  @media screen and (max-width: 375pt) {
    .championListPath {
      font: normal normal bold 12px/23px Segoe UI;
    }

    .championListTableArea {
      overflow-x: scroll;

      table {
        table-layout: auto;

        thead.listHeader {
          font: normal normal bold 16px/21px Segoe UI;
        }

        tbody.listBody {
          font: normal normal normal 16px/21px Segoe UI;
        }

        th,
        td {
          overflow: visible;
          text-overflow: unset;
          white-space: nowrap;
        }
      }
    }

    .championListTableArea::-webkit-scrollbar {
      height: 8px;
      background: rgb(206, 199, 199);
      width: 100%;
      border-radius: 8px;
    }

    .championListTableArea::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
      border-radius: 8px;
      background: #696969;
      height: 8px;
    }
  }
}