.cmpHeaderInfoCallout {
  width: 620px;
  padding: 10px 24px 20px 24px;
  max-width: 90%;
  margin-top: 30px;

  .infoCalloutTitle {
    margin-bottom: 12px;
    font-weight: bold;
  }

  .infoCalloutTitleBody {
    margin-bottom: 12px;
  }

  .infoCalloutLink {
    display: block;
    margin-bottom: 12px;
  }

  a:hover,
  .infoCalloutLink:hover {
    color: rgb(98, 100, 167);
  }

  .infoCalloutLinkFont {
    font-size: 16px;
  }
}

.clbHome {
  .container {
    height: 100%;
    width: 100%;

    .navbg {
      background: #464775 0% 0% no-repeat padding-box;
      opacity: 1;
      width: 100%;
      height: 65px;
      margin-bottom: 0% !important;

      .white {
        display: flex;

        .clbHeaderLogo {
          margin-left: 41px;
          width: 32px;
          height: 32px;
          border-radius: 2px;
        }

        .clbHeading {
          margin-left: 23px;
          text-align: left;
          font: normal normal bold 24px/32px Segoe UI;
          letter-spacing: 0px;
          color: #FFFFFF;
          opacity: 1;
        }

      }

      .navIconArea {
        display: flex;
        margin-left: auto;
        margin-right: 0;
        margin-top: 6px;
        justify-content: space-around;
        width: 130px;

        .infoIcon,
        .supportIcon,
        .feedbackIcon {
          font-size: 20px;
          color: #FFFFFF;
          opacity: 1;
          cursor: pointer;
        }

        .feedbackIcon {
          position: relative;
          bottom: 2px;
        }
      }

      .cmpHeaderTooltipHostStyle {
        display: inline-block;
        cursor: pointer;
      }
    }

    .imgheader {
      background: url('../assets/CMPImages/BannerImage.png');
      background-color: #464775;
      height: 80px;
      min-width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      padding-left: 200px;
      padding-top: 6px;

      .cmpPageHeading {
        text-align: left;
        font: normal normal 400 32px/64px Segoe UI;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
      }
    }

    .grid {
      margin: 0rem 12.5rem 0rem 12.5rem;

      .quickguide {
        text-align: left;
        font: normal normal bold 24px/32px Segoe UI;
        letter-spacing: 0px;
        color: #33344A;
        opacity: 1;
        margin-top: 2.06rem;
      }

      .admintools {
        text-align: left;
        font: normal normal bold 24px/32px Segoe UI;
        letter-spacing: 0px;
        color: #33344A;
        opacity: 1;
      }

      .cursor {
        cursor: pointer;

        .dashboardimgs {
          height: 180px;
          width: auto;
          position: relative;
        }

        .totLabel,
        .enableTournamentLabel {
          text-transform: none;
        }

        .center {
          width: 180px;
          text-align: center;
          font: normal normal normal 18px/24px Segoe UI;
          letter-spacing: 0px;
          color: #464775;
          opacity: 1;
          overflow-y: clip;
          text-overflow: ellipsis;
        }

      }

      .imageLayout {
        margin-bottom: 2rem;
      }

      .mb {
        align-self: center;
        text-transform: capitalize;
      }
    }

    @media screen and (max-width: 1184px) {
      .imgheader {
        padding-left: 100px;
      }

      .grid {
        margin: 0 6.5rem 0 6.5rem;

        .cursor {
          cursor: pointer;

          .dashboardimgs {
            height: 160px;
            width: auto;
            position: relative;
          }

          .center {
            width: 160px;
            text-align: center;
            font: normal normal normal 18px/24px Segoe UI;
            letter-spacing: 0px;
            color: #464775;
            opacity: 1;
            overflow-y: clip;
            text-overflow: ellipsis;
          }

        }
      }
    }

    @media screen and (max-width: 844px) {
      .imgheader {
        padding-left: 25px;
      }

      .grid {
        margin: 0 2rem 0 2rem;

        .cursor {
          cursor: pointer;

          .dashboardimgs {
            height: 135px;
            width: auto;
            position: relative;
          }

          .center {
            width: 135px;
            text-align: center;
            font: normal normal normal 18px/24px Segoe UI;
            letter-spacing: 0px;
            color: #464775;
            opacity: 1;
            overflow-y: clip;
            text-overflow: ellipsis;
          }
        }

      }
    }

    //For Mobile View
    @media screen and (max-width:375pt) {

      .navbg {
        padding: .5rem .5rem;

        .white {

          .clbHeaderLogo {
            margin-left: 10px;
            width: 28px;
            height: 28px;
          }

          .clbHeading {
            margin-left: 11px;
            font: normal normal 700 15px/27px Segoe UI;
            margin-top: 2px;
          }
        }

        .navIconArea {
          margin-top: 6px;

          .infoIcon,
          .supportIcon,
          .feedbackIcon {
            font-size: 16px;
          }

          .feedbackIcon {
            position: relative;
            bottom: 2px;
          }
        }
      }

      .imgheader {
        padding-left: 20px;
        height: 45px;
        padding-top: 7px;

        .cmpPageHeading {
          font: normal normal 400 21px/28px Segoe UI;
        }
      }
    }
  }

  .load {
    border: 16px solid #dde2eb;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}