.mainContainer {
  margin-left: 6rem;
}

.manageTournamentPath {
  display: inline-flex;
  margin-top: 36px;
  margin-bottom: 26px;
  text-align: center;
  font: normal normal bold 14px/24px Segoe UI;
  letter-spacing: 0px;
  color: #33344A;
  opacity: 1;

  .backImg {
    width: 7px;
    height: 12px;
    margin-right: 10px;
    margin-top: 6px;
  }

  .backLabel {
    padding-right: 10px;
    cursor: pointer;
  }

  .border {
    width: 0px;
    height: 14px;
    border: 1px solid #33344A;
    margin-top: 5px;
  }

  .manageTournamentLabel {
    font: normal normal bold 18px/23px Segoe UI;
    padding-left: 10px;
  }
}

.errorMessage {
  color: #e12636;
  text-align: left;
  font: normal normal normal 18px/24px Segoe UI;
  letter-spacing: 0px;
  opacity: 1;
}

.successMessage {
  text-align: left;
  font: normal normal normal 18px/24px Segoe UI;
  letter-spacing: 0px;
  opacity: 1;
  color: #000000;

  .tickImage {
    width: 28px;
    height: 28px;
    margin-right: 10px;
    margin-bottom: 7px;
  }
}

.completeBtn,
.yesBtn,
.noBtn {
  background-color: #6264A7;
  border-color: #6264A7;
}

.disabledBtn {
  background-color: #a3a3ba !important;
  border-color: #a3a3ba !important;
  cursor: not-allowed !important;
}

.enableBtn {
  background-color: #6264A7;
  border-color: #6264A7;
}

.bottomBtnArea {
  margin-bottom: 3%;
  margin-top: 32px;
  display: inline-flex;

  .backBtn {
    height: 38px;
    font-size: 16px;
  }
}

.textDialog {
  max-width: 100%;
  width: 400px;
  max-height: 100%;
  height: 200px;
}

.textDialog>div:nth-child(2)>.endTotDialougeText>div:nth-child(2)>div {
  p[class^='ms-Dialog-subText'] {
    color: #757575;
  }
}

.tournamentStatus {
  text-align: left;
  font: normal normal 600 18px/24px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 27px;
}

.subHeaderUnderline {
  text-align: left;
  font: normal normal 600 18px/24px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 21px;
}

.pageHeader {
  text-align: left;
  font: normal normal 600 24px/32px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 20px;
}

.textLabels {
  width: 80%;

  Label {
    text-align: left;
    font: normal normal normal 18px/26px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
}

.startTournmentArea {
  display: inline-flex;

  .infoArea {
    padding-left: 10px;
    line-height: 27px;
  }
}