:global {
  label {

    .ms-Checkbox-checkbox,
    .ms-Checkbox-checkbox:hover {
      border-color: rgb(97, 97, 97) !important;
    }
  }
}

.container {
  height: 100%;
  width: 100%;
  padding: 0;
}

.totDashboardContent {
  display: flex !important;
}

.errorMessage {
  color: #e12636;
  margin-left: 2%;
  font: normal normal normal 18px/24px Segoe UI;
  -webkit-font-smoothing: antialiased;
}

.noTourErrorMessage {
  color: #000;
  margin-top: 2%;
  margin-left: 2%;
  font: normal normal 600 18px/24px Segoe UI;
  -webkit-font-smoothing: antialiased;
}

.successMessage {
  margin-left: 1%;
  color: #000000;
  font: normal normal normal 18px/24px Segoe UI !important;
  -webkit-font-smoothing: antialiased;
}

.tickImage {
  width: 28px;
  height: 28px;
  margin-right: 1%;
}

.labelHeading {
  color: #1d0f62;
  display: table-cell;
  font: normal normal 600 18px/24px Segoe UI;
  -webkit-font-smoothing: antialiased;
  padding: 0.5em;

  .tooltipHostStyles {
    display: inline-block;
    cursor: pointer;
  }

  .myTournamentInfoIcon {
    font-size: 16px;
    padding-left: 10px;
    font-weight: bolder;
    color: #1d0f62;
    position: relative;
    top: 3px;
  }
}

.labelNormal {
  color: #1d0f62;
  font-weight: normal;
  display: table-cell;
  padding: 0 0.5em;
  text-align: justify;
  font: normal normal normal 18px/24px Segoe UI;
  -webkit-font-smoothing: antialiased;
  overflow-wrap: anywhere;
}

.subHeaderUnderline {
  color: #1d0f62;
  font: normal normal bold 18px/24px Segoe UI;
  -webkit-font-smoothing: antialiased;
  background-color: #BDBDE6;
  padding-left: 10px;
}

.totDashboardPath {
  display: inline-flex;
  margin-left: 2%;
  text-align: center;
  font: normal normal bold 14px/24px Segoe UI;
  letter-spacing: 0px;
  color: #33344A;
  opacity: 1;

  .backImg {
    width: 7px;
    height: 12px;
    margin-right: 10px;
    margin-top: 6px;
  }

  .backLabel {
    padding-right: 10px;
    cursor: pointer;
  }

  .border {
    width: 0px;
    height: 14px;
    border: 1px solid #33344A;
    margin-top: 5px;
  }

  .totDashboardLabel {
    font: normal normal bold 18px/23px Segoe UI;
    padding-left: 10px;
  }
}

.saveBtn {
  background-color: #464775;
  border-color: #464775;
  color: #ffffff;

  i {
    color: #ffffff;
  }
}

.saveBtn:hover {
  background-color: #464775 !important;
  border-color: #464775 !important;
  color: #ffffff !important;
  opacity: 0.9 !important;
}

.btnArea {
  margin-bottom: 2%;

  .backBtnToggle1 {
    display: unset;
  }
}

.backBtnToggle2 {
  display: none;
}

.listArea {
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-family: "Segoe UI";
  list-style: none;
  display: table;
  margin-left: 0%;
  padding: 1%;

  .listVal {
    display: table-row;

    .descriptionHeading::after {
      content: "";
    }

    .descriptionColon {
      display: unset;
    }
  }
}

.contentArea {
  margin-left: 1%;
}

.dropdownArea {
  margin-left: 1%;
  margin-top: 2%;
}

.dropdownCol {
  padding: 0.5em;

  div[class^="ms-ComboBox"] {

    button:hover {
      background-color: transparent;
    }
  }
}

.totMdbComboCallout {
  div[class^="ms-Callout-main"] {
    div[class^="ms-ComboBox-optionsContainerWrapper"] {
      div[class^="ms-ComboBox-optionsContainer"] {

        button:focus,
        button:hover {
          background-color: transparent !important;
        }
      }
    }
  }
}

.labelCol {
  margin-top: auto;
  text-align: -webkit-center;
  align-self: center;
}

.contentTab {
  width: 100vw;
  min-height: 100vh;
  margin: 1em;

  .totMyDashboardBackBtn {
    margin-left: 1.5%;
    margin-top: 1.5%;
    border-color: #33344A;
    background-color: white;

    i {
      font-size: 17px;
      font-weight: bolder;
      color: #000003;
      opacity: 1;
    }

    i+span>span {
      font: normal normal bold 14px/24px Segoe UI;
      letter-spacing: 0px;
      color: #000003;
      opacity: 1;
      margin-top: -3px;
    }
  }

  .totMyDashboardBackBtn:hover {
    border-color: #33344A;
    background-color: white;
    color: #000003;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.myDashBoardTreeView1>div>div>div:nth-child(2),
.myDashBoardTreeView2>div>div>div:nth-child(2) {
  div[class^='labels_']>div[class^='itemSubLabel_'] {
    color: #757575;
  }
}

@media screen and (max-width: 375pt) {
  .totDashboardContent {
    display: block !important;
  }

  .contentTab {
    width: unset;
  }

  .listArea {
    display: flex;

    .listVal {
      display: grid;

      .descriptionHeading::after {
        content: " :";
      }

      .descriptionColon {
        display: none;
      }
    }
  }

  .saveBtn {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .btnArea {
    .backBtnToggle1 {
      display: none;
    }
  }

  .backBtnToggle2 {
    display: block;
    margin-left: 0 !important;
    margin-bottom: 30px !important;
    margin-top: 30px !important;
  }
}