@import '~@fluentui/react/dist/sass/References.scss';

:global {

    .totReportComboBoxCallout {
        border-radius: 3px;

        .ms-Callout-main {
            background-color: #ffffff !important;

            .ms-ComboBox-option {
                color: #000000 !important;
                background-color: #ffffff;
            }

            .ms-ComboBox-option:hover {
                background-color: #E8E8E8;
            }
        }
    }
}

.container {
    height: 100%;
    width: 100%;
    padding: 2% 5% 150px 5%;
}

.totReportChart>canvas {
    background-color: #ffffff;
}

.totReportPath {
    display: inline-flex;
    margin-bottom: 26px;
    text-align: center;
    font: normal normal bold 14px/24px Segoe UI;
    letter-spacing: 0px;
    color: #33344A;
    opacity: 1;

    .backImg {
        width: 7px;
        height: 12px;
        margin-right: 10px;
        margin-top: 6px;
    }

    .backLabel {
        padding-right: 10px;
        cursor: pointer;
    }

    .backLabel:focus-visible {
        box-shadow: none;
        outline: 2px solid #414156 !important;
        border-radius: 1px;
        outline-offset: 4px;
    }

    .border {
        width: 0px;
        height: 14px;
        border: 1px solid #33344A;
        margin-top: 5px;
    }

    .totReportLabel {
        font: normal normal bold 18px/23px Segoe UI;
        padding-left: 10px;
    }
}

.totReportComboboxWrapper {
    display: flex;
    column-gap: 10px;
    align-items: flex-start;

    .totReportComboboxLabel {
        text-align: left;
        font: normal normal normal 20px/27px Segoe UI;
        letter-spacing: 0.28px;
        color: #020000;
        opacity: 1;
    }

    .totReportDropdown {

        i {
            padding-top: 2px;
            color: #888686 !important;
        }

    }

    .totReportDropdown>div {
        background: #FFFFFF;
        box-shadow: 0px 3px 6px #00000029;
        width: 350px;
        height: 40px;
        border-radius: 3px;

        input {
            background-color: #ffffff;
            color: #757575;
        }

        input:hover {
            color: #757575;
        }

        button,
        button:hover {
            background-color: #FFFFFF;
        }
    }

    .totReportDropdown>div::after {
        border: 0.5px solid #888686;
        border-radius: 3px;
    }

    .totReportDropdown>div:hover::after {
        border-color: #888686;
    }

    .dDInfoIconArea {
        margin-top: 10px;

        .dDInfoIcon {
            font-size: 20px;
            color: #888686;
            cursor: pointer;
        }
    }
}

.mainCard {
    opacity: 1;
    border: none;
    box-shadow: 0px 3px 6px #00000029;
    padding: 0;
    margin-bottom: 20px;

    .cardBody {
        padding: 0;
        text-align: center;
        border-radius: 4px;

        .cardTitleText {
            background-color: #FFDC7F;
            font: normal normal normal 18px/27px Segoe UI;
            letter-spacing: 0.28px;
            color: #020000;
            opacity: 1;
            border-radius: 4px 4px 0 0;
        }

        .cardValue {
            color: unset;
        }
    }
}


.chartArea {
    padding: 10px;
    box-shadow: 0px 6px 6px #00000029;
    border-radius: 4px;
    margin-bottom: 15px;

    .chartHeading {
        text-align: left;
        font: normal normal normal 16px/24px Segoe UI;
        letter-spacing: 0px;
        color: #020000;
        opacity: 1;
        margin-bottom: 10px;
    }

    .refreshIconArea {
        float: right;

        .refreshIcon {
            cursor: pointer;
            color: #000000;
            font-size: 15px;
        }

        .refreshIcon:hover {
            color: cornflowerblue;
        }
    }
}

.searchArea {
    display: inline-flex;
    margin-bottom: 20px;

    input {
        width: 250px;
        background-color: #ffffff !important;
        border-radius: 0.25rem 0 0 0.25rem;
        box-shadow: 0px 3px 6px #00000029;
        border-color: #888686;
    }

    input:focus {
        box-shadow: none;
    }

    input::placeholder {
        text-align: left;
        font: normal normal normal 16px/21px Segoe UI;
        letter-spacing: 0;
        color: #888686;
        opacity: 1;
    }

    .IconArea {
        width: 40px;
        height: 38px;
        background-color: #464775;
        border-radius: 0 0.25rem 0.25rem 0;
        box-shadow: 0px 3px 6px #00000029;

        .cancelIcon {
            color: #FFFFFF;
            font-size: 20px;
            cursor: pointer;
            margin-left: 10px;
            margin-top: 8px;
        }

        .searchIcon {
            color: #FFFFFF;
            font-size: 20px;
            margin-left: 10px;
            margin-top: 8px;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
    }
}

.tableHeadingAndCSVBtn {
    display: inline-flex;
    width: 100%;
    margin-bottom: 10px;

    .tableHeading {
        text-align: left;
        font: normal normal normal 20px/27px Segoe UI;
        letter-spacing: 0;
        color: #020000;
        opacity: 1;
    }

    .csvLink {
        margin-left: auto;
        margin-right: 20%;
        position: relative;
        bottom: 9px;
        box-shadow: none;

        &:focus-visible {
            outline: 1px solid #000;
            border-radius: 3px;
        }

        .excelIcon {
            width: 35px;
            height: 35px;
            opacity: 1;
            margin-right: 5px;
        }

        .downloadText {
            text-align: left;
            font: normal normal normal 16px/27px Segoe UI;
            letter-spacing: 0;
            color: #020000;
            opacity: 1;
        }
    }
}

.participantsGrid {
    table {
        width: 80%;

        th {
            background-color: #464775;
            border: none;
            text-align: left;
            font: normal normal normal 18px/27px Segoe UI;
            letter-spacing: 0.28px;
            color: #FFFFFF;
            opacity: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

        }

        th:nth-child(1) {
            width: 25%;
        }

        th:nth-child(2) {
            width: 22%;
        }

        th:nth-child(3) {
            width: 12%;
        }

        tbody {
            box-shadow: 0px 3px 6px #00000029;

            tr {
                background-color: #E0F2FB;
                text-align: left;
                font: normal normal normal 18px/24px Segoe UI;
                letter-spacing: 0.25px;
                color: #000000;
                opacity: 1;

                td {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    .progressBar {
                        appearance: none;
                        width: 70%;
                        height: 10px;
                    }

                    .progressBar::-webkit-progress-bar {
                        background-color: #C9C7C6;
                        border-radius: 20px;
                    }

                    .progressBar::-webkit-progress-value {
                        background-color: #00AD56;
                        border-radius: 20px;
                        background-size: 20px 15px, 100% 100%, 100% 100%;
                    }

                    .percentage {
                        margin-right: 10px;
                        width: 40px !important;
                        display: inline-flex;
                        justify-content: center;
                    }

                    mgt-person[class="participant-person-card"] {
                        --person-line1-text-color: var(--colorNeutralForeground1) !important;
                        --person-line1-text-line-height: 24px;
                        --person-line1-font-weight: 400;
                    }
                }
            }
        }
    }

    div[class~="react-bootstrap-table-pagination"] {
        width: 80%;

        button[id="pageDropDown"] {
            color: #fff;
            background-color: #6264A7;
            border-color: #6264A7;

            &:focus {
                box-shadow: none;
                outline-offset: 2px;
                outline: 2px solid #000000;
                border-radius: 3px;
            }
        }

        ul[class~="dropdown-menu"] {
            background-color: #ffffff;
            min-width: 5rem;
            border: 1px solid rgba(0, 0, 0, .15);

            li[class~="dropdown-item"] {
                background-color: transparent;
                padding: 0.3rem 1.3rem;

                a {
                    color: #212529;
                    background-color: transparent;
                    padding: 4px 8px;
                    border-radius: 3px;

                    &:hover {
                        color: #16181b;
                        background-color: #e9ecef;
                    }

                    &:focus-visible {
                        outline: 1px solid #000;
                    }
                }

                &:hover,
                &:focus {
                    background-color: transparent;
                }
            }
        }

        div[class~="react-bootstrap-table-pagination-list"] {
            ul[class~="react-bootstrap-table-page-btns-ul"] {
                li[class~="page-item"] {
                    a[class~="page-link"] {
                        &:hover {
                            color: #000000;
                        }

                        &:focus {
                            outline: 2px solid #000;
                            outline-offset: 1px;
                            border-radius: 1px;
                            box-shadow: none;
                        }
                    }
                }

                li[class~="active"] {

                    a,
                    a:hover {
                        background-color: #6264A7 !important;
                        border-color: #6264A7 !important;
                        color: #FFFFFF !important;
                    }

                    &:focus {
                        outline: 2px solid #000;
                        outline-offset: 1px;
                        border-radius: 1px;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 501px) and (max-width:582px) {
    .totReportComboboxWrapper {
        .totReportDropdown>div {
            width: 275px;
        }
    }
}

@media screen and (max-width: 375pt) {
    .totReportComboboxWrapper {
        display: grid;
        grid-template-columns: 125px auto 50px;
        row-gap: 10px;

        .totReportComboboxLabel {
            grid-area: 1 / 1;
            padding: 0;
        }

        .dDInfoIconArea {
            grid-area: 1 / 2;
            margin-top: 7px;

            .dDInfoIcon {
                font-size: 18px;
            }
        }

        .totReportDropdown {
            grid-area: 2 / 1;
        }
    }

    .tableHeadingAndCSVBtn {
        .csvLink {
            margin-right: 0%;
        }
    }

    .participantsGrid>div:nth-child(1) {
        overflow-x: scroll;
    }

    .participantsGrid>div:nth-child(1)::-webkit-scrollbar {
        height: 8px;
        background: rgb(206, 199, 199);
        width: 100%;
        border-radius: 8px;
    }

    .participantsGrid>div:nth-child(1)::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
        border-radius: 8px;
        background: #696969;
        height: 8px;
    }

    .participantsGrid {

        table {
            width: 100%;
            table-layout: auto !important;
        }
    }

    .participantsGrid>div:nth-child(2) {
        width: 100% !important;
        margin-top: 20px !important;
    }

}