.totSideBar {
  display: flex !important;

  .sideNav {
    background: transparent url("../assets/TOTImages/Sidebar.svg") 0% 0% no-repeat padding-box;
    width: 212px;
    min-height: 100vh;
    height: 100%;
    background-color: #6264a7;

    .profilePic {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      margin-top: 5rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
      background-color: #7577b9;
      border: 4px solid #464775;
      box-shadow: 0 0 0 3px #fff;
    }

    .championName {
      font-size: 16px;
      font: normal normal bold 18px/24px Segoe UI;
      font-weight: 600;
      color: white;
      margin-top: 0.5rem;
      text-align: center;
    }

    .pointCircle {
      border-radius: 50%;
      background-color: #6f71af;
      border: 4px solid #464775;
      box-shadow: 0 0 0 3px #fff;
      background: #6f71af 0% 0% no-repeat padding-box;
      width: 153px;
      height: 154px;
      border-radius: 102px;
      margin-top: 2.2rem;
      display: block;
      margin-left: auto;
      margin-right: auto;

      .insideCircle {
        text-align: center;
        color: white;
        margin: 5px;
      }

      .pointsScale {
        text-align: center;
      }

      .score {
        font-weight: 800;
        font-size: 14px;
        margin: auto;
      }

      .pointsValueLabel {
        font-size: 1rem;
      }

      .yellowStar {
        color: #ffc206;
        width: 25px;
        height: 23px;
      }

      .monthlyPoints {
        font-size: 14px;
      }

      .line {
        height: 1px;
        width: auto;
        background-color: #39f;
        margin: 0.5rem;
      }

      .globalRank {
        font: normal normal normal 14px/19px Segoe UI;
      }

      .bold {
        font-size: 14px;
        font-weight: 800;
      }
    }

    .countScale {
      text-align: center;
      color: white;
      font-size: 16px;
      font-weight: 600;

      #star {
        color: #f3ca3e;
        vertical-align: bottom;
        margin-right: 4px;
      }

      & {
        color: white;
      }
    }

    .count {
      text-align: center;
      font-size: 12px;
      color: white;
    }

    .backBtn {
      margin-top: 80%;

      .back {
        position: relative;
        margin: auto;
        display: block;
      }
    }
  }

  .contentTab {
    background-color: rgba(158, 187, 208, 0.5);
    width: 100vw;
    min-height: 100vh;
    margin-left: 0.5em;

    /* width */
    ::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  .loader {
    border: 16px solid #dde2eb;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

@media screen and (max-width: 375pt) {
  .totSideBar {
    .sideNav {
      background: transparent url("../assets/TOTImages/SidebarMobile.svg") 0% 0% no-repeat padding-box;
      height: 140px;
      background-color: #464775;
      min-width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
      min-height: unset;

      .imagePointsArea {
        display: flex;
        justify-content: space-around;
      }

      .profilePic {
        height: 70px;
        width: 70px;
        margin-top: 2rem;
      }

      .championName {
        font: normal normal 700 14px/24px Segoe UI;
      }

      .pointCircle {
        width: 120px;
        height: 120px;
        margin-top: 0.5rem;

        .insideCircle {
          margin: unset;
        }

        .pointsValueLabel {
          font-size: 14px;
        }

        .yellowStar {
          width: unset;
          height: unset;
          font-size: 14px;
        }

        .line {
          margin: 5px;
        }

        .globalRank {
          font: normal normal normal 11px/17px Segoe UI;
        }

        .bold {
          font-weight: 600;
        }
      }
    }
  }
}